<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.dao.UserMapper">

    <select id="getUserLists" resultType="User">
        select * from user_tb;
    </select>

    <select id="queryUserById" parameterType="int" resultType="User">
        select * from user_tb where id = #{id};
    </select>

    <select id="queryUserByUnameAndPwd" resultType="User">
        select * from user_tb where username = #{uname} and password = #{pwd};
    </select>

    <select id="queryUserByEmail" parameterType="String" resultType="User">
        select * from user_tb where email = #{email};
    </select>

    <select id="queryUserByUname" parameterType="String" resultType="User">
        select * from user_tb where username = #{uname};
    </select>

    <insert id="addOneUser">
        insert into user_tb(`username`, `password`, email, create_time)
        values(#{uname}, #{pwd}, #{email}, now());
    </insert>

</mapper>